<!DOCTYPE html>
%html
  %head
    %meta{ :content=>"text/html; charset=UTF-8", :"http-equiv" => "Content-Type"}
  %body
    = "Hello and Welcome to IMI's Tech Talk."

    = "We have set you up an account at http://radio-director.heroku.com. You can goto the login page and sign in using the password '#{@default_password}'. Please change your password immediately after logging in."