= render "index_navigation"

#episodes
  - if collection.any?
    .page
      = render "collection_table"
  
:javascript
  (function() {
    var page = 1,
        loading = false;

    function nearBottomOfPage() {
      return $(window).scrollTop() > $(document).height() - $(window).height() - 200;
    }

    $(window).scroll(function(){
      if (loading) {
        return;
      }

      if(nearBottomOfPage()) {
        loading=true;
        page++;
        $.ajax({
          url: '/episodes/page/' + page,
          type: 'get',
          dataType: 'script',
          success: function() {
            $(window).sausage('draw');
            loading=false;
          }
        });
      }
    });

    $(window).sausage();
  }());