%h2 About IMI's TechTalk
%hr

%p
  IMI TechTalk is a weekly radio program featured on KFNX News-Talk Radio 1100 and stored online at 
  = link_to "http://imitechtalk.com.", "http://imitechtalk.com"
  Every week host Tom D’Auria, brings listeners the news and guests that matter in the technology industry relevant to both executives and home users. The shows discussions include industry wide news and the occasional product review.

%p 
  Sample previous guests include Michael Clark, General Manager, Microsoft; Brian Curry, Vice President, Product and Business Strategy at YouSendIt; Siamak Farah, CEO of InfoStreet; Gabe Goldberg, Technology Contributor for Washington Post; among others.

%br

%h3 The Host
%p 
  Tom D’Auria is the Chairman and CEO of Information Methods Incorporated and Managing Partner of the IMI Group. Tom has over 30 years experience in information technology with more than 20 years in the public and university sectors. IMI provides significant added value to state and local projects due to its detailed knowledge of the public sector’s IT environment. Tom has a proven record of working in the public sector on strategic planning, project management, disaster recovery, and business continuity planning. He has also managed technical development groups, has been responsible for the design of client server applications, and acted as the technology designer and construction manager for public safety agencies for more than 15 years.