%h2 Staff

%p Our staff is composed of professionals with different backgrounds that come together each week to cover the technology industry’s most important events and guests.

%strong Production Staff Members
%ul
  %ol Host – Tom D’Auria
  %ol IMI President – Terry Ruggiero
  %ol Executive Editor & Executive Producer – Matt Campagni
  %ol Producer & Senior Editor – Taylor Redden
  %ol Sports Technology Editor – Dan D’Auria
  %ol Foreign Bureau Chief – David Brandin
  %ol Technology Bureau Chief – Jose Baptista
  %ol Reporter – Tom D’Auria, Taylor Redden, Dan D’Auria
