%br
= "--"
Taylor Redden
%br
Producer, IMI’s TechTalk 
%br
KFNX 1100 AM – PHOENIX
%br
%br
http://www.imitechtalk.com
http://www.1100kfnx.com/
%br
%br
Information Methods Incorporated
%br
401 Columbus AVE
%br
Valhalla, NY 10595
%br
+1-931-261-8980
%br
%br
http://www.imi-us.com
%br
%br
**********************************************************
This message is for the designated recipient only and may contain privileged, proprietary, or otherwise private information.  
If you have received it in error, please notify the sender immediately and delete the original.  
Any other use of the email by you is prohibited.
***************************************************************