%br
= "--"
Taylor Redden
Producer, IMI’s TechTalk 
KFNX 1100 AM – PHOENIX

http://www.imitechtalk.com
http://www.1100kfnx.com/

Information Methods Incorporated
401 Columbus AVE
Valhalla, NY 10595
+1-931-261-8980

http://www.imi-us.com

**********************************************************
This message is for the designated recipient only and may contain privileged, proprietary, or otherwise private information.  
If you have received it in error, please notify the sender immediately and delete the original.  
Any other use of the email by you is prohibited.
***************************************************************