<!DOCTYPE html>
%html
  %head
    %meta{ :content=>"text/html; charset=UTF-8", :"http-equiv" => "Content-Type"}
  %body
    %h1 This is a Test Email
    
    Info:
    1) Length of Interview - please allocate one hour, but the interview should only take about 30 minutes.
    2) Recording Date - February 24th at 3PM ET
    3) Air Date - February 26th at 5PM ET
    4) Call instructions - You will need to dial into into the station at 602-248-1468 with the land line number provided

    Things we need from you:
    1) A brief bio of the guest 
    2) The land line phone number you will be calling in with, just in case there are problems calling.
    3) A list of ten or more questions for us to ask you on the topic. 
    4) Show Title(optional) - "Technology and Education Innovations" - feel free to change
    5) Show Description(optional) - This is what we will use to go on the blog.