<!DOCTYPE html>
%html
  %head
    %meta{ :content=>"text/html; charset=UTF-8", :"http-equiv" => "Content-Type"}
  %body
    %h1 This is a Test Email
    
    
    Here is the script for tomorrow's show (Friday 27th) at 4PM, with Gytis Burzdukas (GEE-tiss Bard-ZOO-kiss) discussing - Backup and Beyond: How to protect your data and planning for future cloud services. 

    I still don't have the phone number for Gytis, but his PR person (Addy Peake, included in this email), should get it to us today or tomorrow before the show.

    Thanks everyone,